header, footer {
  text-align: center;
}

header {
  font-size: 4em;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  overflow:auto;
  padding-bottom: 50px;
}

.text-one {
  font-size: 1.2em;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.text-two {
  font-size: 1.5em;
  text-align: center;
  align-self: center;
  padding-left: 30px;
  padding-right: 30px;
}

.text-three {
  grid-column: span 2;
  font-size: 1.3em;
  text-align: center;
  align-self: center;
  padding-left: 30px;
  padding-right: 30px;
}

img  {
  justify-self: center;
  box-shadow: 5px 5px 10px;
}

.img-collar {
  align-self: flex-end;
}
